* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
.service-header {
    height: fit-content;
    padding: 60px 20px;
    width: 100%;
    background-color: #0b1f3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-header-inner {
    height: 100%;
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-header-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.service-header-left h1 {
    font-size: 50px;
    text-align: left;
    color: white;
}

.service-header-left p {
    font-size: medium;
    text-align: left;
    color: white;
}

.service-header-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-header-right img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

/* Responsive */
@media (max-width: 768px) {
    .service-header {
        height: fit-content;
        padding: 30px 0;
    }

    .service-header-inner {
        flex-direction: column;
    }

    .service-header-left {
        height: fit-content;
        padding: 30px;
        width: 100%;
    }

    .service-header-right {
        height: fit-content;
        width: 100%;
    }

    .service-header-right img {
        height: auto;
        width: 400px;
    }
}

@media (max-width: 768px) {
    .service-header-left {
        padding: 30px 0;
    }

    .service-header-left h1 {
        font-size: 35px;
        text-align: center;
    }

    .service-header-left p {
        font-size: small;
        text-align: center;
        width: 95%;
    }

    .service-header-right {
        height: fit-content;
        width: 100%;
    }

    .service-header-right img {
        height: auto;
        width: 95%;
    }
    .about-solutiion-card-container{
        flex-direction: column;
    }
    .about-solution-text-container h3{
        text-align: center;
    }
    .about-solution-text-container p{
        text-align: center;
    }
    .about-solution-text-container {
    width: 100%;
}
}
.start-your-store-grid{
        grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 800px) {
    .start-your-store-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 520px) {
    .start-your-store-grid {
        grid-template-columns: 1fr;
    }
}


h1,h2,h3,h4,h5,h6{
    line-height: normal !important;
    letter-spacing: normal !important;
    font-weight: 900 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 span,h2 span,h3 span,h4 span,h5 span,h6 span{
    color: #ff9900;
}